body  {

background-color: cornsilk;
}


h2 {
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
 letter-spacing: 2px; z-index:200;
}

.image {
 background: white;
 border: 1px solid white;
 border-radius: 4px;
 width: 30%;
 padding: 10px; transform: rotate(90deg);
 margin: 10px;
}

.container {
 
 
 
 height: 500px;
}

.imagee {
 background: white;
 border: 1px solid white;
 border-radius: 4px;
 width: 30%;transform: rotate(90deg);

 padding: 10px;
 display:block; margin: auto auto auto auto;
}



p
{  

 font-family: monospace;

} 

.rechtop {
 background: white;
 border: 1px solid white;
 border-radius: 4px;
 width: 30%;
 padding: 10px; 
 margin: 10px;
display:block; margin: auto auto auto auto;

}
